# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store

# App artifacts
artifacts/

# Large model files (too big for GitHub)
models/symptom_disease_model/model.safetensors
models/symptom_disease_model/training_args.bin

# Notebooks and checkpoints
.ipynb_checkpoints/

# Env files
.env

# Logs
logs/
*.log

# Tools
.pytest_cache/
.cache/
