# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store

# App artifacts
artifacts/

# Notebooks and checkpoints
.ipynb_checkpoints/

# Env files
.env

# Logs
logs/
*.log

# Tools
.pytest_cache/
.cache/
